* {
    margin: 0;
    padding: 0;
}

body {
    margin-left: 50%;
    margin-top: 10%;
}

h1 {
    color: red;
    margin-bottom: 15px;
}

#calculator {
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
}

#display {
    margin: 10px;
    width: 85%;
    font-size: 25px;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.button {
    width: 45px;
    height: 45px;
    margin: 3px;
}